<div class="row container">
  <div class="col-md-6 col-md-6">
    <h3 class="project-title"><%= @project.title %></h3>
      <div class="thumbnail show">
        <img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xpa1/t31.0-8/1617411_10152327850315047_7165561517057286879_o.jpg" alt="holder.js/300x300">
        <div class="caption"><span id="team-name">By Team: <%= @project.team %></span>
          <p><%= @project.description %></p>
        </div>
        <div class="btn-row">
          <%= link_to 'Back to Projects', projects_path, class: "btn btn-primary" %>
          <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-primary", remote: true %>
          <%= link_to 'Delete', @project, method: :delete, data: {confirm: "Are You Sure You Want To Delete This Project"}, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='modal-div'>
</div>